<div class="rotate-180" style="background: url(./assets/BGs/map_footer.svg); background-position: bottom; background-size: cover;">
    <footer class="rotate-180 text-white pt-32 items-center flex justify-between lg:mx-20 pb-10">
        <div class="lg:pl-48">
            <img src="../../assets/images/logo.svg" alt="" class="w-36" />
        </div>
    <nav>
        <ul class="flex space-x-10 lg:pr-96">
        <li>Impressum</li>
        <li>Datenschutz</li>
        <li>FAQ</li>
        <li>Kontakt</li>
        
        </ul>
    </nav>

    </footer>
</div>