<div class="rotate-180" style="background: url(./assets/BGs/map_footer.svg); background-position: bottom; background-size: cover;">
    <footer class="xl:px-maxScreen rotate-180 text-white pt-36 lg:pt-16 2xl:pt-[4vw] flex gap-10 lg:gap-40 xl:gap-80 px-10 items-center justify-between lg:justify-start lg:flex-row md:flex-row lg:mx-20 pb-10 2xl:pb-[3vw] md:mx-10 md:px-5">
        <div class="w-fit mb-6 ">
            <img src="../../assets/images/logo.svg" alt="" class="md:w-36 w-16 lg:mt-5" />
        </div>
        <nav class="w-fit mt-4 lg:mt-0">
            <ul class=" font-Roboto lg:flex lg:space-x-10 md:flex-row md:text-2xl lg:text-lg sm:flex-col sm:ml-20 lg:justify-center font-bold">
                <li>Impressum</li>
                <li>Datenschutz</li>
                <li>FAQ</li>
                <li>Kontakt</li>
            </ul>
        </nav>
    </footer>
</div>