<div class="flex justify-between px-24 pt-5 items-center">
  <div>
    <img src="../../assets/images/logo.svg" alt="" class="w-36" />
  </div>
  <nav>
    <ul class="flex space-x-10">
      <li>Services</li>
      <li>Über uns</li>
      <li>Darum wir</li>
      <li>Team</li>
      <li>Über Ruanda</li>
      <li>FAQ</li>
      <li>Kontakt</li>
      <li>
        <select name="languages" id="languages" class="bg-transparent">
          <option value="dutch" selected>DE</option>
          <option value="english">EN</option>
        </select>
      </li>
    </ul>
  </nav>
</div>
