<div class="flex justify-between px-24 pt-5 items-center font-Roboto">
  <div>
    <img src="../../assets/images/logo.svg" alt="" class="w-36" />
  </div>
  <nav>
    <ul class="flex space-x-10">
      <li>Services</li>
      <li>Über uns</li>
      <li>Darum wir</li>
      <li>Team</li>
      <li>Über Ruanda</li>
      <li>FAQ</li>
      <li>Kontakt</li>
      <div class="flex flex-col relative bottom-2">
        <button>DE</button>
        <button class="-mt-1">EN</button>
      </div>
    </ul>
  </nav>
</div>
